td.moduleCtrls {
  background     : transparent;
  margin         : 0px;
  padding        : 0px;
  border-collapse: collapse;
  border         : 0px none transparent;
  margin-left    : 1.5em;
  font-size      : 15px;
  font-weight    : 400;
  text-align     : right;
}

td.moduleHead {
  background     : transparent;
  margin         : 0px;
  padding        : 0px;
  border-collapse: collapse;
  border         : 0px none transparent;
  text-align     : left;
}

input.moduleCtrl {
  max-height     : 1.666em;
  height         : 1.666em;
}

div.addModuleDesc {
  margin-top     : 4px;
}

div.componentMain {
}

div.componentInner {
}

p.componentDesc {
}