span.moduleCtrls {
  margin-left: 1.5em;
  font-size  : 15px;
  font-weight: 400;
}

input.moduleCtrl {
  max-height     : 1.666em;
  height         : 1.666em;
}

div.addModuleDesc {
  margin-top     : 4px;
}

div.componentMain {
}

p.componentDesc {
}