tr.moduleHead {
  background     : transparent;
  margin         : 0px;
  padding        : 0px;
  border-collapse: collapse;
  border         : 0px none transparent;
  vertical-align : middle;
}

td.moduleCtrls {
  background     : transparent;
  margin         : 0px;
  padding        : 24px 0px 8px;
  border-collapse: collapse;
  border         : 0px none transparent;
  margin-left    : 1.5em;
  font-size      : 15px;
  font-weight    : 400;
  text-align     : right;
  vertical-align : middle;
}

td.moduleHead {
  background     : transparent;
  margin         : 0px;
  padding        : 24px 0px 8px;
  border-collapse: collapse;
  border         : 0px none transparent;
  text-align     : left;
  vertical-align : middle;
}

input.moduleCtrl {
  max-height     : 1.666em;
  height         : 1.666em;
  margin         : 0px;
  padding        : 0px;
}

div.addModuleDesc {
  margin-top     : 4px;
}

div.componentMain {
}

div.componentInner {
}

p.componentDesc {
}

p.buttonHelp {
  margin-top    : 2px;
  margin-bottom : 0px;
}

th.configName {
  text-align    : left;
  vertical-align: text-bottom;
  font-weight   : bold;
  border        : 0px none transparent;
  padding-right : 0.2em;
}

td.configField {
  padding-left  : 0.2em;
  text-align    : left;
  border        : 0px none transparent;
}

td.configEnabled {
  text-align    : center;
  border        : 0px none transparent;
}

td.configDesc {
  text-align : left;
  border     : 0px none transparent;
  padding-top: 1px;
}

tr.configFieldRow {
  border    : 0px none transparent;
}

tr.configSpacer {
  height        : 11px;
  max-height    : 11px;
  min-height    : 11px;
  font-size     : 11px;
  background    : transparent;
  border        : 0px none transparent;
}

td.configSpacer {
  height        : 11px;
  max-height    : 11px;
  min-height    : 11px;
  font-size     : 11px;
  background    : transparent;
  border        : 0px none transparent;
}

tr.configDescRow {
  border        : 0px none transparent;
}

tr.configChoiceRow {
  border        : 0px none transparent;
}

tr.configAddFieldRow {
  border        : 0px none transparent;
}

td.configAddFieldButtonCell {
  text-align    : right;
  vertical-align: text-bottom;
  padding-right : 0.2em;
  border        : 0px none transparent;
}

td.configAddNameCell {
  text-align   : left;
  border       : 0px none transparent;
}

td.addNameLbl {
  border         : 0px none transparent;
  text-align     : right;
  padding-right  : 0.2em;
}

td.addNameVal {
  border         : 0px none transparent;
  text-align     : left;
  padding-left   : 0.2em;
}

td.addValueLbl {
  border        : 0px none transparent;
  text-align    : right;
  padding-right : 0.2em;
  padding-top   : 0.2em;
}

td.addValueVal {
  border        : 0px none transparent;
  text-align    : left;
  padding-left  : 0.2em;
  padding-top   : 0.2em;
}

td.configChoice {
  text-align : left;
  border     : 0px none transparent;
  padding-top: 1px;
}




textarea.ctrl {  
  overflow-x    : auto;
  overflow-y    : scroll;
  font-family   : monospace, monospace;
  background    : transparent;
  border-width  : 1px;
  border-style  : solid;
  resize        : none;
  padding       : 2px;
  white-space   : nowrap;
}

textarea.ctrlW {  
  overflow-x    : auto;
  overflow-y    : scroll;
  font-family   : monospace, monospace;
  background    : transparent;
  border-width  : 1px;
  border-style  : solid;
  resize        : none;
  padding       : 2px;
  white-space   : normal;
}