form.controller {
  background    : transparent;
  margin-top    : 2px;
  margin-bottom : 2px;
  margin-left   : 1px;
  margin-right  : 1px;
  padding       : 1px;
}

table.folderView {  
}

tr.folderViewHead {
}

th.folderViewHead {
}

tr.folderViewBottom {
}

td.folderViewBottomInfo {
}

td.folderViewSelect {
}

tr.folderViewRow {
}

tr.folderViewRowEven {
  background   : #e9e9ff;
}

td.folderViewIcon {
  padding-left : 1px;
  padding-right: 1px;
  max-width    : 6.8mm;
  width        : 6.8mm;
}

td.folderViewName {
  font-family  : monospace, monospace;
  text-align   : left;
  padding-left : 3px;
  padding-right: 3px;
  word-wrap    : break-word;
  max-width    : 490px;
}

td.folderViewSize {
  font-family  : monospace, monospace;
  text-align   : right;
  padding-left : 3px;
  padding-right: 3px;
  font-size    : 90%;
  font-style   : italic;
  color        : #535353;
}

td.folderViewTime {
  font-family  : monospace, monospace;
  text-align   : right;
  padding-left : 3px;
  padding-right: 3px;
  font-size    : 90%;
  font-style   : italic;
  color        : #535353;
}

td.folderViewSel {
}

img.folderIcon {
  width     : 6mm;
  height    : 6mm;
  max-width : 6mm;
  max-height: 6mm;
  min-width : 6mm;
  min-height: 6mm;
}

p.breadcrumps {
  border     : 1px solid #ebebeb;
  font-family: monospace, monospace;
}

div.controllerActions {
  margin-top   : 0.7em;
  margin-bottom: 0.35em;
  line-height: 119%;
}

p.actionDescription {
  margin-bottom: 0.7em;
  margin-top   : 0.35em;
}

input.selButton {
  padding        : 0px;
  background     : transparent;
  border-style   : none;
  border         : none;
  text-shadow    : none;
  text-decoration: none;
}