table.logTable {
  vertical-align: top;
  margin-top    : 0.5em;
  margin-bottom : 0.5em;
}

tr.logHeaderRow {  
}

th.logHeaderCell {
  padding-left  : 1px;
  padding-right : 1px;
}

code.logCode {
  background    : transparent;
  color         : black;
  padding       : 0px;
  margin        : 0px;
}

pre.logPre {
  font-size     : 90%;
  overflow-x    : auto;
  background    : transparent;
  width         : auto;
  border        : 0px;
  border-style  : none;
  max-width     : 490px;
  max-height    : 24em;
  margin-top    : 0.3em;
  margin-bottom : 0.3em;
  margin-left   : 1px;
  margin-right  : 1px;
  padding       : 0px;
}


tr.logAll {
  font-size : 80%;
}

tr.logFinest {
  font-size : 85%;
}

tr.logFiner {
  font-size : 90%;
}

tr.logFine {
  font-size : 95%;
}

tr.logConfig {
}

tr.logInfo {
}

tr.logSuccess {
  background-color: #d7fad7;
  color           : #00bb00;
}

tr.logWarning {
  background-color: #faeeb6;
  color           : #aaaa00;
}

tr.logFailure {
  background-color: #fab6b6;
  color           : #9f0000;
}

tr.logSevere {
  background-color: #f57f7f;
  color           : #9f0000;
}

img.logIcon {
  width     : 5.8mm;
  height    : 5.8mm;
  max-width : 5.8mm;
  max-height: 5.8mm;
  min-width : 5.8mm;
  min-height: 5.8mm;
}

td.logIconCol {
  vertical-align: top;
  text-align    : center;
  padding-left  : 1px;
  padding-right : 1px;
  max-width     : 6.6mm;
  width         : 6.6mm;
}

td.logTimeCol {
  vertical-align: top;
  padding-left  : 2px;
  padding-right : 2px;
  white-space   : nowrap;
}

td.logMsgCol {
  vertical-align: top;
  text-align    : left;
  padding-left  : 2px;
  padding-right : 2px;
  word-wrap     : break-word;
  max-width     : 495px;
}