textarea.editor {  
  overflow-x    : auto;
  overflow-y    : scroll;
  font-family   : monospace, monospace;
  background    : transparent;
  border        : 0px;
  border-style  : none;
  resize        : none;
  margin-top    : 0.3em;
  margin-bottom : 0.3em;
  margin-left   : 1px;
  margin-right  : 1px;
  padding       : 2px;
}